@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;;


.close-menu,
.open-menu {
  position: absolute;
  cursor: pointer;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

@media (max-width: 800px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 73%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #000;
    color: #fff;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    font-size: 24px;
  }

  .menu li {
    /* margin-top: 40px; */
  }

  .menu li a {
    padding: 10px;
  }

  .close-menu,
  .open-menu {
    display: block;
  }

  #check:checked ~ .menu {
    right: 0;
  }
}


/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap"); */

/* body {
  display: grid;
  grid: [stack] 1fr / min-content [stack] 1fr;
  font-family: "Rubik", sans-serif;
} */

@media (max-width: 640px) {
  body > aside,
  body > main {
    grid-area: stack;
  }
}

#sidenav-open {
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --duration: 0.6s;
  display: grid;
  grid-template-columns: [nav] 1fr [escape] 2fr;
}

@media (max-width: 640px) {
  #sidenav-open {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow: hidden auto;
    overscroll-behavior: contain;
    visibility: hidden;
    transform: translateX(-110vw);
    will-change: transform;
    transition: transform var(--duration) var(--easeOutExpo),
      visibility 0s linear var(--duration);
  }
}

@media only screen and (max-width: 640px) {
  #sidenav-open:target {
    visibility: visible;
    transform: translateX(0);
    transition: transform var(--duration) var(--easeOutExpo);
  }

  #sidenav-open:target ~ main {
    filter: blur(0.5em);
    z-index: -1;
  }
}

.grid-cols-auto-1fr-auto {
  grid-template-columns: auto 1fr auto;
}

#profile-progress {
  border: 1em solid white;
  border-right-color: #4a00e0;
  border-top-color: #4a00e0;
  border-bottom-color: #4a00e0;
  animation: thickening 1s 0.5s linear normal;
  border-left-color: white;
  border-radius: 50%;
}



@keyframes thickening {
  from {
    border-width: 0.2em;
  }
  to {
    border-width: 1em;
  }
}

@media (max-width: 320px) {
  .custom-class-320 {
    margin-top: 27px;
  }
}

@media (width: 320px) {
  .main{
    padding-left: 50px;
  }
}

@media (width: 320px) {
  .allicons{
    margin-right: -70px;
  }
}

@media (width: 375px) {
  .allicons{
    margin-right: -120px;
  }
}

@media (width: 425px) {
  .allicons{
    margin-right: -150px;
  }
}

@media (width: 768px) {
  .allicons{
    margin-right: -50px;
  }
}

@media (width: 1024px) {
  .allicons{
    margin-right: -60px;
  }
}

@media (width: 1440px) {
  .allicons{
    margin-right: 15px;
  }
}

@media (width: 2560px) {
  .allicons{
    margin-right: 240px;
  }
}